<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tournaments"></ion-back-button>
    </ion-buttons>
    <ion-title>Teams</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Search" (ionChange)="searchTeam($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    @for (division of teams(); track division.divisionName) {
      <ion-item-group>
        <ion-item-divider color="secondary"> {{division.divisionName}}</ion-item-divider>
        @for (team of division.divisionTeams; track team.id) {
          <ion-item>
            <ion-button shape="round" (click)="selectTeam(team)">{{team.name}}</ion-button>
          </ion-item>
        }
      </ion-item-group>
    }
  </ion-list>
  @if (isLoading()) {
    <div class="ion-text-center ion-padding">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  } @else if (!teams() || teams().length === 0) {
    <ion-card>
      <ion-card-content >
        <h1>Teams not found</h1>
      </ion-card-content>
    </ion-card>
  }
  <div class="buttons">
      <ion-button shape="round" fill="outline" expand="block" (click)="openNewTeamModal()">
        Add team
      </ion-button>
    </div>
  </ion-content>
