<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Camera</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="my-teams"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="buttons">
    <ion-button expand="block"shape="round"(click)="takePicture()">Take picture</ion-button>
  </div>
  <div class="img">
    <ion-card *ngIf="imgSrc">
      <ion-card-content>
        <img [src]="imgSrc">
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
