<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="teams"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goHome()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{team.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (teamStanding) {
    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <h2>Record: {{teamStanding.wins}}-{{teamStanding.losses}}</h2>
            <p>Coach: {{team.coach}}</p>
          </ion-col>
          <ion-col>
            @if (!isFollowing) {
              <ion-button (click)="followTeam()">
                <ion-icon name="star"></ion-icon>
                Add favourite
              </ion-button>
            } @else {
              <ion-button (click)="unfollowTeam()">
                <ion-icon name="star"></ion-icon>
              </ion-button>
            }
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-label class="date-filter">Date filter:</ion-label>
          <ion-datetime displayFormat="M/D/YYYY" pickerFormat="M/D/YYYY" [(ngModel)]="dateFilter"
            (ionChange)="dateChanged()" [disabled]="!useDateFilter"></ion-datetime>
          <ion-toggle [(ngModel)]="useDateFilter" (ionChange)="dateChanged()"></ion-toggle>
        </ion-item>
      </ion-card-content>
    </ion-card>
  }

  @if (games?.length) {
    <app-games [games]="games!" [tourneyData]="tourneyData"></app-games>
  } @else {
    <ion-card>
      <ion-card-content>
        <h1>Games not found</h1>
      </ion-card-content>
    </ion-card>
  }

  @if (teamStanding) {
    <app-standings [allStandings]="allStandings" [team]="team"></app-standings>
  } @else {
    <ion-card>
      <ion-card-content>
        <h1>Standings not found</h1>
      </ion-card-content>
    </ion-card>
  }
</ion-content>
