<ion-header>
  <ion-toolbar>
    <ion-title>New team</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <form [formGroup]="form">
    <div formGroupName="teams">
        <ion-item>
          <ion-label position="floating">Id</ion-label>
          <ion-input formControlName="id" type="number" min="1"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Coach</ion-label>
          <ion-input formControlName="coach" type="text" maxlength="50"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input formControlName="name" type="text" maxlength="50"></ion-input>
        </ion-item>

        @if (isNewDivision) {
          <ion-item>
            <ion-label position="floating">New Division</ion-label>
            <ion-input formControlName="division" type="text" maxlength="50"></ion-input>
          </ion-item>
          @if (existingDivisions.length > 0) {
            <div class="ion-text-right">
              <ion-button fill="clear" size="small" (click)="toggleDivisionInput()">Select existing division</ion-button>
            </div>
          }
        } @else {
          <ion-item>
            <ion-select label="Division" labelPlacement="floating" formControlName="division" interface="popover">
              @for (div of existingDivisions; track div) {
                <ion-select-option [value]="div">{{ div }}</ion-select-option>
              }
            </ion-select>
          </ion-item>
          <div class="ion-text-right">
            <ion-button fill="clear" size="small" (click)="toggleDivisionInput()">Add new division</ion-button>
          </div>
        }
      </div>
      <ion-button expand="block" (click)="addTeam()" class="ion-margin-top" [disabled]="!form.valid">Add team
      </ion-button>
  </form>
</ion-content>
