<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Elite Schedule</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-list-header>
        <h1>Navigate</h1>
      </ion-list-header>
      <ion-item>
        <ion-button color="light"(click)="goHome()">Home</ion-button>
      </ion-item>
      <ion-item>
        <ion-button color="light"(click)="goToTournaments()">Find a tournament</ion-button>
      </ion-item>
      <ion-item>
        <ion-button color="light"(click)="goVibration()">Check your vibration</ion-button>
      </ion-item>
      <ion-item>
        <ion-button color="light"(click)="goGeolocation()">Check your geolocation</ion-button>
      </ion-item>
      <ion-item>
        <ion-button color="light"(click)="goCamera()">Camera</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>
