<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="my-teams"></ion-back-button>
    </ion-buttons>
    <ion-title>Select a tournament</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    @for (tournament of tournaments(); track tournament.key) {
      <ion-item>
        <ion-button shape="round" (click)="selectTournament(tournament)">{{tournament.name}}</ion-button>
        <ion-button slot="end" fill="clear" color="danger" (click)="deleteTournament(tournament)">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
    }
  </ion-list>
  <div class="buttons">
    <ion-button shape="round" fill="outline"expand="block" (click)="openNewTournamentModal()">
      Add tournament
    </ion-button>
  </div>
</ion-content>
