<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>My teams</ion-title>
    <ion-buttons slot="start">
      <ion-button fill="clear" aria-label="Open menu" (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (favourites.length === 0) {
    <ion-card>
      <ion-card-header class="my-teams-header">No Followed Teams</ion-card-header>
      <ion-card-content>
        <p>You are not currently following any teams.</p>
        <p>First select a tournament, then you can follow teams
          from their team page.</p>
        <ion-button expand="full" shape="round" (click)="goToTournaments()">
          <ion-icon name="search"></ion-icon>
          <h6>Find a Tournament</h6>
        </ion-button>
      </ion-card-content>
    </ion-card>
  } @else {
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-list-header class="header">Followed Teams</ion-list-header>
          @for (item of favourites; track item.team.id) {
            <ion-button expand="full" shape="round" (click)="navigateToFavourite(item)">
              <h6>{{item.team.name}}<br />{{item.tournamentName}}</h6>
            </ion-button>
          }
        </ion-list>
      </ion-card-content>
      <ion-card-content>
        <p>To follow more teams, select a tournament,
          then you can follow teams from their team page.</p>
        <ion-button expand="full" shape="round" color="secondary" (click)="goToTournaments()">
          <ion-icon name="search"></ion-icon>Find a Tournament
        </ion-button>
      </ion-card-content>
    </ion-card>
  }
</ion-content>
